.cat-image-wrapper {
  max-height: 200px;
  height: auto;
}

.cat-image {
  object-fit: cover;
  height: auto;
  filter: grayscale(20%);
  opacity: 0.9;
}

.cat-image:hover {
  filter: grayscale(0);
  opacity: 1;
}
